body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #fff5f5;
}

h1 {
  text-align: center;
  letter-spacing: .1em;
  font-size: 60px;
}

h2 {
  margin: 0 70px;
  font-weight: 500;
  text-align: center;
}

#main {
  display: flex;
  justify-content: space-between;

  margin: 50px 70px;
}

#desc {
  width: 40%;
}

#desc p {
  font-size: 20px;
  line-height: 1.5;
}

#screenshots {
  width: 40%;
  max-width: 500px;
}

#screenshots img {
  height: 468px;
  width: 262px;
  transform: rotateX(30deg) rotateY(10deg) rotateZ(-45deg);
  box-shadow:-5px 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: -430px;
}

#img1 {
  z-index: 2;
}

#img2 {
  z-index: 1;
}

#milestones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 150px 50px;
}

#milestones a {
  background-color: #223a71;
  border: none;
  color: white; 
  cursor: pointer;
  font-size: 20px;
  outline: none;
  padding: 20px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  letter-spacing: .08em;
  margin: 10px;
}

#milestones a:hover {
  transform: scale(1.2);
  opacity: .8;
}

#footer {
  position: relative;
  bottom: 0;
}

#footer p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 25px; 
}

@media screen and (min-width: 320px) and (max-width: 900px) {

  #main {
    flex-direction: column;
    align-items: center;
  }

  #desc {
    width: 100%;
  }

  #screenshots {
    height: 650px;
  }
}